@media only screen and (max-width: 700px) {
    body {
    	/*background-color: pink;*/
     	font-family: Microsoft JhengHei;
    }
    .homepage{
	  height:100px;
	  animation-duration:10s;
	  margin-top: 10%;
	  margin-bottom: 2%;
	  margin-left:35%;
	  /*margin-left: 30%*/
	  border-radius: 100%;
	}
	.homepageText{
	  text-align: center;
	  /*margin-right:30%;*/
	  font-size:12px
	}
	.logoBar{
		width:100%;
		height:60px;
	}
    .logo{
    	border-radius:100%;
  		height:30px;
  		margin-top:20px;
  		margin-left:46%;
  		/*margin-bottom: -10px;*/
  		animation-duration:10s;
    }
    .nav1{
    	margin-top:-10px;
		text-align:center;
		width:10%;
		font-size:14px;
	}
	.SPdelete{
		display:none;
	}
	.line{
		/*display:none;*/
	}
	.subtitle{
		font-size:16px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.text{
		font-size: 12px;
	}
	.vedio{
		width:60%;
		height:300px;
		margin-top: -20%;
		margin-left:20%;
		margin-right:20%;
	}
	#logoNotShown{
  		display: none;
	}
	.pictureDiv{
		display:block;
		width:100%;
		margin-right:0px;
  		padding-left:0px;
	}
	.picture{
	  	margin-left:25%;
	 	display:inline-block;
	  	border-radius: 100%;
	  	margin-left: 0%;
	  	width:150px;
	  	height:150px;
	}
	.name{
	 	text-align: center;
	  	font-size: 12px;
	}
	.button {
		/*display: inline-block;*/
		padding: 6px 6px;
		margin-right:5px;
		/*margin-top: 20px;*/
		/*margin-bottom: 15px;*/
		width:20%;
		font-size: 10px;
		/*cursor: pointer;*/
		/*text-align: center;*/
		/*text-decoration: none;*/
		/*outline: none;*/
		/*background-color: #FFE153;*/
		/*border: none;*/
		/*border-radius: 15px;*/
		/*box-shadow: 0 7px #999;*/
	}
	.buttonLine{
  		/*display:none;*/
  		width:10%;
  	}
	.button2{
		display: inline-block;
		padding: 10px 10px;
		margin-right:5px;
		margin-top:10px;
		width:20%;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
	}
	.worldMap{
		position:relative;
		height:300px;
		background-color:white;
		width:90%;
		margin-left:5%
	}
	.wordCloud{
	  height:200px;
	  margin:0px
	}
	.box{
	  display:block;
	  margin-left: 12%;
	  margin-bottom: 10px;
	  width:80%;
	}
	.smallDiv{
	  display:block;
	  margin-left: 12%;
	  margin-bottom: 10px;
	  padding: 0px;
	  width:80%;
	}
}