body{
  color:#563d12;
  font-family: Microsoft JhengHei;
}
a:visited{
  color:#563d12;
  font-weight: bold;
}
.homepage{
  height:400px;
  animation-duration:10s;
  margin-top:50px;
  margin-left:37%;
  border-radius: 100%;
}
.homepageText{
  text-align: center;
  margin-top:50px;
  font-size:24px
}
.logoBar{
  width:100%;
  height:100px;
}
.logo{
  border-radius:100%;
  height:90px;
  margin-top:20px;
  margin-left:47%;
  animation-duration:10s;
}
.nav1{
  text-align:center;
  width:130px;
  font-size:18px;
  font-weight: bold;
  color:#563d12;
}
.icon-width{
  width:0px;
}
.iconSetting{
  font-size: 16px;
  text-align:center;
  width:5%;
  /*border-bottom: 0px;*/
  /*padding-top:10px;*/
}
.navHover:hover{
  font-weight: bold;
}
.line{
  margin-right:10px;
  width:100%;
  height:0.8px;
  background-color: black;
}
.subtitle{
  font-size:20px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.subtitle2{
  font-size:20px;
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 25px;
}
.text{
  text-align:center;
  font-size:16px;
}
.text2{
  text-align:left;
  font-size:16px;
  margin: 30px 10% 50px 10%;

}
.pictureDiv{
  display:inline-block;
  width:15%;
  margin-right:30px;
  margin-left: 30px;
}
.pictureDiv a{text-decoration: none;}
.picture{
  padding-left:5px;
  display:inline-block;
  border-radius: 100%;
  width:200px;
  height:200px;
}
#logoNotShown{
  display: none;
}
.name{
  text-align: center;
  font-size: 18px;
}
.bar{
  z-index:2;
  height: 75px;
  opacity: 0.7;
  padding-top: 20px;
  padding-left: 10px;
}
.list{
  z-index:3;
  height: 40px;
  width: 80px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: black;
  opacity:1.0;
}
.go{
  height: 50px;
  font-size:20px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
}
.display{
  z-index:1;
  /*background-color: #ccc;*/
}
#chart{
  height: 50px;
  width: 100px;
  font-size:30px;
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
  opacity:0.8;
}
.box{
  display:inline-block;
  width:49.5%;
  height: 350px;
  margin:0px;
}
.bigDiv1{
  width:80%;
  display:inline-block;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10px;
}
.smallDiv{
  display:inline-block;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  /*width:32.66%;*/
  width: 24.333%;
  height: 180px;
  /*background-color: pink;*/
}
.vedio{
  width:60%;
  height:300px;
  margin-top: -2%;
  margin-left:20%;
  margin-right:20%;
}
@keyframes changeOpacity{
  0%  {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.50;}
  75% {opacity:0.75;}
  100%{opacity:1;}
}
.myButton {
  display: inline-block;
  padding: 7px 7px;
  margin-right:-10px;
  margin-top: 20px;
  margin-left:25px;
  /*margin-bottom: 15px;*/
  width:8%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #FFE153;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}
.myButton:hover {
  background-color: #FFDC35;
}
.myButton:active {
  background-color: #FFED97;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
  opacity: 0.8;
}
.myButtonLine{
  display:inline-block;
  width:40%;
}
.myButton2{
  display: inline-block;
  /*padding: 10px 10px;*/
  margin-top: 25px;
  margin-bottom: -15px;
  margin-right: 15px;
  margin-left: 25px;
  width:45px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
}
#threeMP{
  display:none;
}
#oneMP{
  display:none;
}
.tip{
  display:none;
  background-color:#000;
  color:#fff;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
}
.tipBar{
  background-color: transparent;
  width:12%;
  height:18px;
  margin-left: 87%;
}
.worldMap{
  position:relative;
  height:500px;
  background-color:white;
  width:90%;
  margin-left:5%;
  opacity: 1;
  margin-bottom: 20px;
}
.wordCloud{
  height:300px;
  margin:20px;
}
.displayBlock{
  display:none;
  width:90%;
  margin:2% 5% 2% 5%;
  height:100%;
  background-color:#FFF8D7;
  padding:1% 2% 1% 2%;
}
#myInput, #myInput2{
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 300px;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ddd;
  margin: 40px 0px 12px 10px;
}
.thDate{
  text-align: center;
  width:80px;
}
#myTable{
  border-collapse: collapse;
  width:auto;
  border: 1px solid #ddd;
  font-size: 16px;
  margin: 50px 0px 100px 10%;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header{
  background-color: #ccc;
}

.tableHover:hover{
  background-color: #FFF8D7;
}
.tableHeader{
  background-color: #E0E0E0;
}
#myTable td:hover{
  background-color: #FFE153;
}
.selection{
  background-position: 10px 10px;
  /*background-color:#FFE153;*/
  width: 120px;
  font-size: 14px;
  padding: 10px 5px 10px 5px;
  border: 1px solid #ddd;
  margin: 40px 0px 12px 10%;
}
.BarLine {
  display:none;
  height:450px;
  width:600px;
  margin: 0px 100px 0px 15%;
  padding: 20px -10px 0px -10px;
  /*background-color: pink;*/
}
.map{
  display: none;
  /*width: 600px;*/
  /*height: 350px;*/
  margin: 20px 0px 20px 5%;
}
#message{
  margin-left: 50px;
  font-size:16px;
}