@media only screen and (max-width:1000px){
    body {
    	/*background-color: pink;*/
     	font-family: Microsoft JhengHei;
    }
    .homepage{
	  height:100px;
	  animation-duration:10s;
	  margin-top: 10%;
	  margin-bottom: 2%;
	  margin-left:42%;
	  /*margin-left: 30%*/
	  border-radius: 100%;
	}
	.homepageText{
	  text-align: center;
	  /*margin-right:30%;*/
	  font-size:18px
	}
    .logo{
    	border-radius:100%;
  		height:50px;
  		margin-top:20px;
  		margin-left:47%;
  		animation-duration:10s;
    }
    .nav1{
		text-align:center;
		width:100px;
		font-size:16px;
	}
	.icon-width{
		width:200px;
	}
	.iconSetting{
	 	font-size: 20px;
		text-align:center;
		width:30px;
		border-bottom: 0px;
		padding-top:10px;
	}
	.subtitle{
		font-size:24px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.text{
		font-size: 20px;
	}
	#logoNotShown{
  		display: inline-block;
	}
	.pictureDiv{
		display:inline-block;
		width:33%;
		margin-right:0px;
  		margin-left: 0px;
	}
	.picture{
	  	padding-left:0px;
	 	display:inline-block;
	  	border-radius: 100%;
	  	margin-left: 15%;
	  	width:200px;
	  	height:200px;
	}
	.name{
	 	text-align: center;
	  	font-size: 18px;
	}
	.myButton {
		/*display: inline-block;*/
		padding: 10px 10px;
		/*margin-right:5px;*/
		/*margin-top: 20px;*/
		/*margin-bottom: 15px;*/
		width:20%;
		font-size: 18px;
		/*cursor: pointer;*/
		/*text-align: center;*/
		/*text-decoration: none;*/
		/*outline: none;*/
		/*background-color: #FFE153;*/
		/*border: none;*/
		/*border-radius: 15px;*/
		/*box-shadow: 0 7px #999;*/
	}
	.myButtonLine{
  		display:inline-block;
  		width:20%;
  	}
	.myButton2{
		display: inline-block;
		padding: 10px 10px;
		margin-right:5px;
		margin-top:10px;
		width:75px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
	}
	.worldMap{
		position:relative;
		height:300px;
		background-color:white;
		width:90%;
		margin-left:5%
	}
	.wordCloud{
	  height:200px;
	  margin:0px
	}
	.box{
	  display:block;
	  margin-left: 12%;
	  margin-bottom: 10px;
	  width:80%;
	}
	.smallDiv{
	  display:block;
	  margin-left: 12%;
	  margin-bottom: 10px;
	  padding: 0px;
	  width:80%;
	}
}