body{
  font-family: Microsoft JhengHei;
}
.navbar{
  background-color: #5da937;
}
.nav{
  text-align:center;
  width:15%;
}
.bar{
  z-index:2;
  height: 75px;
  background-color:	#79c753;
  opacity: 0.7;
  padding-top: 20px;
  padding-left: 10px;
}
.list{
  z-index:3;
  height: 40px;
  width: 80px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: black;
  opacity:1.0;
}
.go{
  height: 50px;
  font-size:20px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
}
.display{
  z-index:1;
  height: 550px;
  background-color: #c9e9ba;
  opacity: 0.7;
}
#chart{
  height: 50px;
  width: 100px;
  font-size:30px;
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
  opacity:0.8;
}